<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pizza_Ordering_System.Properties.Settings.Pizza_Ordering_SystemConnectionString"
            connectionString="Data Source=AMITA-PC;Initial Catalog=&quot;Pizza Ordering System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>